* {
    margin: 0;
    padding: 0;   
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

/* Header creation and adjustments  */

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/5;
    grid-row: 1/2;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F0ECE3;
}

/* header adjustments */

.top-header{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.search-icon {
    grid-column: 1/2;
}

.search-bar {
    grid-column: 2/12;
    border-radius: 20px;
    border: 0;
    background-color: lightgray;
    height: 35px;
}

.bell {
    grid-column: 14/15;
}

.profile-top {
    border-radius: 30px;
}

.top-name {
    grid-column: 16/18;
}

.bottom-header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.profile-bottom {
    border-radius: 50px;
    grid-column: 1/2;
}

.intro {
    grid-column: 2/5;
    font-size: 20px;
}

.big-text{
    font-size: 30px;
    font-weight: bolder;
}

.button {
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-weight: bolder;
    color: white;
    background-color: #040D12;
    font-size: 15px;
}

.number-1 {
    grid-column: 7/8;
}
.number-2 {
    grid-column: 8/9;
}
.number-3 {
    grid-column: 9/10;
}


/* Side bar creation and adjustments */
.side-bar {
    grid-column: 1/2;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(22, 1fr);
    padding-left: 20px;
    align-items: center;
    row-gap: 20px;
    background-color: #596E79;
}
/* Side bar adjustments */

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    
}

.logo-text {
    grid-column: 2/3;
    grid-row: 1/2;
}

.home {
    grid-column: 1/2;
    grid-row: 3/4;
}

.home-text {
    grid-column: 2/3;
    grid-row: 3/4;
}

.profile {
    grid-column: 1/2;
    grid-row: 4/5;
}

.profile-text {
    grid-column: 2/3;
    grid-row: 4/5;
}

.messages {
    grid-column: 1/2;
    grid-row: 5/6;
}

.messages-text {
    grid-column: 2/3;
    grid-row: 5/6;
}

.history {
    grid-column: 1/2;
    grid-row: 6/7;
}

.history-text {
    grid-column: 2/3;
    grid-row: 6/7;
}

.tasks {
    grid-column: 1/2;
    grid-row: 7/8;
}

.tasks-text {
    grid-column: 2/3;
    grid-row: 7/8;
}

.communities {
    grid-column: 1/2;
    grid-row: 8/9;
}

.communities-text {
    grid-column: 2/3;
    grid-row: 8/9;
}

.settings {
    grid-column: 1/2;
    grid-row: 11/12;
}

.settings-text {
    grid-column: 2/3;
    grid-row: 11/12;
}

.support {
    grid-column: 1/2;
    grid-row: 12/13;
}

.support-text {
    grid-column: 2/3;
    grid-row: 12/13;
}

.privacy {
    grid-column: 1/2;
    grid-row: 13/14;
}

.privacy-text {
    grid-column: 2/3;
    grid-row: 13/14;
}

/* Main content creation and adjustments */

.main-content {
    background-color: #DFD3C3;
    grid-column: 2/5;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    column-gap: 20px;
}

/* main content adjustments */

.main-left {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-column: 1/2;
    grid-row: 1/3;
}

.heading {
    padding-bottom: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.projects {
    background-color: white;
    border-radius: 3% 3%;
    padding: 20px;
}

.main-right {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: blue;
}